* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  @include background;
  @include flex;
  flex-direction: row;
}
