* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
}

main {
  background: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}

nav img {
  width: 190px;
}

header a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px;
}

header a:hover {
  background-color: #c0c0c044;
  border-radius: 10px;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.nav-list li {
  letter-spacing: 3px;
}

.nav-list.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 1;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  margin: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/iphoneFrame.svg) center center;
  background-repeat: no-repeat;
  background-size: 95% 95%;
  width: 270px;
  height: 620px;
}

.card img {
  width: 200px;
}

.card h3 {
  font-size: 2rem;
  text-align: center;
}

.card p {
  margin-top: 1rem;
  width: 100px;
  text-align: center;
}

.card button {
  margin-top: 1rem;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#000000));
  background: linear-gradient(180deg, #474747 0%, #000000 100%);
}

.card button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747));
  background: linear-gradient(180deg, #000000 0%, #474747 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    background: none;
  }
  .card img {
    width: 250px;
  }
  .card h2 {
    font-size: 3rem;
  }
  .card p {
    font-size: 1.25rem;
  }
  .card button {
    font-size: 2rem;
  }
  .formContainer {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .productsSection {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 2rem;
    width: 100%;
  }
  .productsSection .products {
    max-width: 65%;
  }
  .productsSection .products button {
    padding: 1rem;
  }
  .feedbackSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0 !important;
    margin-top: 2rem !important;
    width: 100% !important;
  }
  .feedbackSection .commentImg img {
    width: 100px;
  }
  .feedbackSection .comments {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 601px) {
  main {
    gap: 2rem;
    height: 85vh;
  }
}

@media screen and (max-width: 400px) {
  .feedbackSection .commentImg img {
    width: 80px;
  }
  .feedbackSection .comments {
    padding: 0.5rem;
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .formSection .formContainer {
    width: 85%;
  }
}

.formSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

h2 {
  color: white;
  font-size: 3rem;
  width: 250px;
  text-align: center;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  padding: 1rem;
  width: 95%;
  max-width: 350px;
  border-radius: 20px;
  gap: 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formContainer h3 {
  margin-right: auto;
  font-size: 1.75rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
}

form .inputField {
  font-size: 1rem;
  width: 90%;
  position: relative;
}

form input {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 0;
  border: none;
  outline: none;
}

form button {
  width: 90%;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#30b69e), color-stop(79.17%, #3cfd72));
  background: linear-gradient(90deg, #30b69e 0%, #3cfd72 79.17%);
  width: calc(90% + 10px);
}

.underline::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #d3d3d3;
  position: absolute;
}

.underline::after {
  content: "";
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

input:focus ~ .underline::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.productsSectionTitle {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #001b3c;
}

.productsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.productsSection button {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.productsSection button:hover {
  opacity: 0.9;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products p {
  text-decoration: line-through;
}

.products .price {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#3cfd72), color-stop(79.17%, #30b69e));
  background-image: linear-gradient(90deg, #3cfd72 0%, #30b69e 79.17%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 4rem;
  font-weight: bold;
}

.products ul {
  list-style-image: url(../images/check.svg);
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  max-width: 210px;
}

.feedbackSectionTitle h2 {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #001b3c;
  width: 100%;
}

.feedbackSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.comments {
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.comments:hover {
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
}

.commentImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentImg img {
  width: 100px;
}

footer {
  text-align: center;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */